#biCanvas
{
    width: 660px;
    height: 520px;
    background-image: url('biCanvas.png');
}
#biCanvas a
{
    position: relative;
    display: block;
}
#biCanvas a:hover
{
    text-decoration: none;
}
#biCanvas a div
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#stocks
{
    display: block;
    font-size: 12pt;
    width: 620px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
#btnRun
{
    width: 90px;
    height: 30px;
    margin-left: 80%
}
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}
svg
{
    border: solid 1px black;
    margin-top: 15px;
    margin-bottom: 40px;;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.tab-pane
{
    padding: 10px;
}
#state tbody tr td
{
    width: 50px;
    height: 50px;
}
.inputBtn
{
    width: 160px;
    height: 160px;
    border: solid 1px black;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background: #eeeeee;
}
.inputBtn a:hover { text-decoration: none; color: #669999 }
.inputBtn a {color: black}
#result
{
    font-size: 16pt;
    color:#669999;
}
#header h1
{
    font-size: 36pt;
    padding: 15px;
    text-shadow: 2px 2px #777777;
}
#mainHeader
{
    padding: 10px;
}
.subtitle
{
    font-size: 20pt;
    padding-left: 20px;
    text-shadow: 2px 2px #777777;
}
#money 
{
    float:left;
    margin: 10px;
}
#cloud
{
    float:right;
}
body
{
    background: #eeeeee;
}
#mainContainer
{
    width: 70%;
    min-width: 700px;
    background: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px #aaaaaa
}

 #myfooter 
 {
    color: #999; 
    text-align: center; 
    margin-bottom: 20px;
    font-size: 0.8em;
  }
    color: #999; 
